// Import components
@import "./components/_header.scss";
@import "./components/_home.scss";

// Import organisms
@import "./organisms/_concept.scss";
@import "./organisms/_contact.scss";
@import "./organisms/_footer.scss";
@import "./organisms/_header.scss";
@import "./organisms/_offers.scss";
@import "./organisms/_partners.scss";
@import "./organisms/_solution.scss";
@import "./organisms/_menu.scss";

// Import utilities
@import "./utilities/_colors.sass";

//index.css
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

//style.css

.max-width {
  width: 100%;
}
.max-height {
  height: 100%;
}

.logo {
  width: 100%;
  height: auto;
}

.homeLink {
  width: 100%;
  height: 100%;
}
.imageContainer {
  top: 10px;
  left: 10px;
  width: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 1rem;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.smallCard {
  height: 450px;
  border-radius: 10px;
}
.mediumCard {
  height: 500px;
  border-radius: 10px;
}
.largeCard {
  height: 550px;
  border-radius: 10px;
}





.wrapper3colonnes {
  display: grid;
  grid-row: repeat(4, 1fr);
  align-content: center;
  width: 80%;
  margin-left: 10%;
}
.box3lignes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 20px;
}
