:root {
    --bgcolor: #f7f2ff;
    }

html, body {
    margin: 0;
    padding: 0;
    }

body {
    background-color: var(--bgcolor);
    background-attachment: fixed; /* Le fond restera fixe */
    font-size: 100%;
    }

h1 {
    color: white;
    margin-top: 0;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 54px;
    letter-spacing: 0.02em;
    }
/*------------------------------
---------- ENTETE --------------
--------------------------------*/
.entete {
    position: relative;
    width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #F7F2FF;
    margin-bottom: 10%;
    }
.polygone1 {
    width: 100%;
    height: 100%;
    }

.menu{
    position: absolute;
    width: 100%;
    height: auto;
    top: 16px;
    }

.navigationBar {
    font-size: 1em;
    position: absolute;
    top: 19.39%;
    bottom: 43.88%;
    color: white;
    }
.navigationBarApropos {right: 20%;}
.navigationBarContact {right: 14%;}

.bigTitre {
    position: absolute;
    width:100%;
    top: 8%;
    }
.img_titre {
    width: 35%;
    height: auto;
    margin-top: 40pt;
    margin-bottom: 5pt;
    }
.boxSousTitre {
    width: 45%;
    margin: auto;
    }

.petitBadge1 {
    position: absolute;
    width: 100%;
    top: 48%;
    }
.hex{
    position: absolute;
    width: 25%;
    height: auto;
    }
.hex-1{left: -30px;}
.hex-2{left: 60%; margin-top: 8%;}


/*-------------------------------
---------- CONCEPT --------------
--------------------------------*/

.concept {
    position: relative;
    width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
    }

.hex3 {
    position: absolute;
    width: 50%;
    height: auto;
    top: -80px;
    left: 0;
    }
.titreSection {
    position: relative;
    width: 90%;
    font-family: Lato;
    font-style: italic;
    font-size: 40px;
    text-align: right;
    color: #5832A0;
    margin-top: 100px;
    }

.concept3en1 {
    position: relative;
    height: auto;
    margin-top: 20px;
    width: 100%;
    }
.pictoSize {
    width: auto;
    height: 50%;
    }


/*-------------------------------
---------- SOLUTION -------------
--------------------------------*/

.solution {
    position: relative;
    width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
    top: 100px;
    }

.textPresentationPartie {
    position: relative;
    width: 50%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color: #1D5C6F;
    font-family: Lato;
    }

.hexEnLigne {
    position: relative;
    display: inline-block;
    width: auto;
    margin: 1rem;
    }
.diamond {
    width: 250px;
    height: auto;
    }


/*-------------------------------
------------ OFFRES -------------
--------------------------------*/

.offres {
    position: relative;
    width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
    top: 100px;
    }

.kkk_size {
    position: absolute;
    width: 100%;
    top: 250px;
    left: 0;
    }


/*-------------------------------
------------ CONTACT ------------
--------------------------------*/

.contact {
    position: relative;
    width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
    top: 100px;
    }

.hexVert {
    position: absolute;
    width: 50%;
    height: auto;
    left: 0;
    }

.boxcontact{
    position: relative;
    width: 344px;
    height: 512px;
    left: 2%;
    top: 20%;
    border: solid;
    }


/*-------------------------------
---------- PARTENAIRES ----------
--------------------------------*/

.partenaires {
    position: relative;
    width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
    top: 100px;
    }

.cardlogo {
    position: relative;
    display: inline-block;
    margin: 1rem;
    width: 200px;
    height: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 30px;
    }

/*-------------------------------
---------- PARTENAIRES ----------
--------------------------------*/

.footer {
    position: relative;
    width: 100%;
    height: 150px;
    bottom: 0px;
    background-color: #B2D8F6;
    margin-top: 300px;
    }

.txtcopyright {
    position: relative;
    width: 100%;
    color: white;
    vertical-align: bottom;
    }