.max-width {width: 100%;}
.max-height {height: 100%;}

.logo{
    position:absolute;
    top:10px;
    left:10px;
    width:8%;
    height:auto;
    }

.sousTitre {
    position: absolute;
    width:100%;
    top: 8%;
    color: #FFFFFF;
}

/* ---------------------- TESTS ----------------- */

#hexagon {
    left: 50%;
    width: 100px;
    height: 55px;
    background: red;
    position: relative;
    margin-bottom: 100pt;
    }
#hexagon:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid red;
    }
#hexagon:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid red;
    }
