/*-------------------------------
---------- CONCEPT --------------
--------------------------------*/
.hex3 {
  position: absolute;
  width: 50%;
  height: auto;
  top: -80px;
  left: 0;
}

.pictoSize {
  width: auto;
  height: 50%;
}