/*-------------------------------
---------- SOLUTION -------------
--------------------------------*/

.textPresentationPartie {
  width: 50%;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: #1d5c6f;
  font-family: Lato;
}

.hexSolution {
  position: relative;
  display: flex;
  width: auto;
  margin: 1rem;
}
.diamond {
  width: 250px;
  height: auto;
}