$primary: #5832a0; //purple

$secondary: #b2d8f6; //light blue

$contrast-1: #e64613; //orange
$contrast-2: #3fc488; //green
$contrast-3: #fab400; //yellow
$contrast-4: #196981; //duck blue

$neutral: #ffffff;

$background-light: #f7f2ff;
